{% extends 'store/base.html' %}

{% block content %}
<h1>Approved Items</h1>
<div class="products-approved">
    {% if product_list %}
    {% for product in product_list %}
        <div class="card" id="{{ product.name }}-card">
            <h2>{{ product.name }}, listing at ${{ product.list_price }}</h2>
            <div class="img-container"><img src="{{ MEDIA_URL }}{{ product.image }}"/></div>
            <label for="sold-price-field">Enter sold price:</label>
            <input type="text" name="sold-price-field" id="{{ product.name }}-sold-price-field" value="">
            <input type="button" id="{{ product.name }}-sell" value="Mark as Sold" style="padding: 5px 5px;" onclick="handleButtons(this.id);return false;">
            <p>{{ product.description }}</p>
        </div>
    {% endfor %}
    {% else %}
        <p>No products to display</p>
    {% endif %}
{% endblock %}